PATH_FIREBASE_CREDENTIALS="/root/.SecurityInformations/nome-do-arquivo.json"
PATH_SECURITY_CREDENTIALS_DIR="~/.SecurityInformations/"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_bd
POSTGRES_DB=postgres