PATH_FIREBASE_CREDENTIALS="(path-para-as-credenciais-firebase/arquivo.json)"
DATABASE_URL="postgresql://(adicione-as-credenciais-do-banco-local)"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_bd
POSTGRES_DB=postgres